@model SeanceVM

@{
    ViewData["Title"] = "CreateSeance";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<h4>Seans Oluşturma Sayfası</h4>
<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>

<hr /> <h1>@Model.SelectedMovie.Title</h1>


<div class="row">

    <div class="col-md-6">
        <form asp-action="CreateSeance" method="post">
            <input type="hidden" asp-for="MovieId" value="@Model.SelectedMovie.Id"/>
            <input type="hidden" asp-for="TheaterId" id="TheaterId" name="TheaterId" />
            

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="StartDate"><b>Seans Başlangıç Tarihi</b></label>
                    <input asp-for="StartDate" type="date" class="form-control" value="@DateTime.Now">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EndDate"><b>Seans Bitiş Saati</b></label>
                    <input asp-for="EndDate" type="date" class="form-control" value="@DateTime.Now">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>

            <div id="seanceTimeBoxGroup" class="form-group mb-2">

            </div>

            <div class="form-group mb-2">
                <input type='button' class="btn btn-sm btn-primary" value='Saat Ekle' id='addTimeBox'>
                <input type='button' class="btn btn-sm btn-danger" value='Saat Kaldır' id='removeTimeBox'>

                <button type="submit" class="btn btn-sm btn-success">Seans Yarat</button>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <table class="table table-hover" style="text-align:center">
            <thead>
                <tr>
                    <th scope="col">Salon Adı</th>
                    <th scope="col">Ekran Tipi</th>
                    <th scope="col">Kapasite</th>
                    <th scope="col" colspan="2">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var theater in Model.ActiveTheaters)
                {
                    <tr>
                        <td data-theaterid="@theater.Id">@theater.Name</td>
                        <td>@theater.ScreenType</td>
                        <td>@theater.Capacity</td>
                        <td><button class="btn btn-secondary btn-sm select-theater">Seç</button></td>
                        <td><a asp-controller="Seance" asp-action="CreateSeance" class="btn btn-outline-secondary btn-sm">Örnek</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<script src="~/js/Seance/CreateSeance.js"></script>