@model TicketingVM

@{
    ViewData["Title"] = "ConfirmPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Ödeme Sayfası</h4>
<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>

<hr />

<div>
    <form asp-action="ConfirmPayment" method="post">

        @if (Model.CustomerFullname != null) //Oturum açmış kullanıcı varsa;
        {
            <div class="form-group mb-2">
                <label asp-for="PaymentDTO.Fullname"><b>Adınız ve Soyadınız</b></label>
                <input asp-for="PaymentDTO.Fullname" class="form-control" value="@Model.CustomerFullname" disabled>
                <span asp-validation-for="PaymentDTO.Fullname" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="PaymentDTO.Email"><b>E-Posta Adresi</b></label>
                <input asp-for="PaymentDTO.Email" class="form-control" value="@Model.Email" disabled>
                <span asp-validation-for="PaymentDTO.Email" class="text-danger"></span>
            </div>
        }
        else
        {
            <div class="form-group mb-2">
                <label asp-for="PaymentDTO.Fullname"><b>Adınız ve Soyadınız</b></label>
                <input asp-for="PaymentDTO.Fullname" name="FullName" class="form-control">
                <span asp-validation-for="PaymentDTO.Fullname" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="PaymentDTO.Email"><b>E-Posta Adresi</b></label>
                <input asp-for="PaymentDTO.Email" name="Email" class="form-control">
                <span asp-validation-for="PaymentDTO.Email" class="text-danger"></span>
            </div>
        }

        <div class="row">
            <div class="form-group col-4">
                <label asp-for="PaymentDTO.CardUsername"><b>Kart Üzerindeki İsim</b></label>
                <input asp-for="PaymentDTO.CardUsername" name="CardUsername" class="form-control">
                <span asp-validation-for="PaymentDTO.CardUsername" class="text-danger"></span>
            </div>
            <div class="form-group col-8">
                <label asp-for="PaymentDTO.CardNumber"><b>Kart Numarası</b></label>
                <input asp-for="PaymentDTO.CardNumber" name="CardNumber" class="form-control">
                <span asp-validation-for="PaymentDTO.CardNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="form-label" asp-for="PaymentDTO.CardExpiryMonth">Son Kullanma Tarihi (Ay)</label>
                <select class="form-control" name="CardExpiryMonth" asp-for="PaymentDTO.CardExpiryMonth">
                    <option value="">Ay Seçiniz</option>
                    @for (int month = 1; month <= 12; month++)
                    {
                        <option value="@month.ToString("D2")">@month.ToString("D2")</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="form-label" asp-for="PaymentDTO.CardExpiryYear">Son Kullanma Tarihi (Yıl)</label>
                <select class="form-control" name="CardExpiryYear" asp-for="PaymentDTO.CardExpiryYear">
                    <option value="">Yıl Seçiniz</option>
                    @for (int year = DateTime.Now.Year; year <= 2033; year++)
                    {
                        <option value="@year.ToString()">@year.ToString()</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group mb-2">
            <label asp-for="PaymentDTO.SecurityNumber"><b>CVV</b></label>
            <input class="form-control" asp-for="PaymentDTO.SecurityNumber" name="SecurityNumber"/>
            <span asp-validation-for="PaymentDTO.SecurityNumber" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <input type="submit" class="btn btn-success" value="Ödeme Gerçekleştir">
        </div>

    </form>
</div>