@model MovieVM

@{
    ViewData["Title"] = "MovieList";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        @foreach (var movie in Model.ActiveMovies)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    @if (movie.PosterUrl == null || movie.PosterUrl.Length <= 0)
                    {
                        <img src="https://via.placeholder.com/286x180" alt="Resim Yok" class="img-fluid">
                    }
                    else
                    {
                        <img src="~/@movie.PosterUrl" alt="Card image cap" class="card-img-top" title="@movie.Title">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Description</p>
                        <a asp-controller="Seance" asp-action="CreateSeance" asp-route-id="@movie.Id" class="btn btn-outline-secondary btn-sm">Seans Oluştur</a>

                        <a asp-controller="Ticketing" asp-action="SelectSeance" asp-route-id="@movie.Id" class="btn btn-outline-secondary btn-sm">Seansları Göster</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>